<div class="{{modalClassName}}" style="margin-bottom: 0;" *ngIf="activateComponent">
    <div class="modal-background" (click)="hideModal()"></div>
    <div class="card">
        <div class="tabs is-large">
            <ul>
                <li class="is-active">
                    <a (click)="onShippingClick()">
                        <span class="icon is-large"><i class="fas fa-plane"></i></span>
                        <span>Shipping</span>
                    </a>
                </li>
                <li>
                    <a (click)="onBillingClick()">
                        <span class="icon is-large"><i class="fas fa-money-bill-wave"></i></span>
                        <span>Billing</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-large"><i class="fas fa-print"></i></span>
                        <span>Order Details</span>
                    </a>
                </li>
            </ul>
        </div>
        <app-shipping-detail [events]="shippingEventSubject"></app-shipping-detail>
        <app-billing-detail [events]="billingEventSubject"></app-billing-detail>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="hideModal()"></button>
</div>