<a class="ui floating label red">New</a>
<a class="ui left corner label">
    <i class="heart icon"></i>
</a>
<div class="image">
    <img src="{{product.imageUrl}}">
</div>
<div class="content">
    <div class="header">
        {{product.name}}
    </div>
    <div class="meta">
        <i class="barcode icon"></i>
        <a>{{product.sku}}</a>
    </div>
</div>
<div class="extra content">
    <span class="right floated">
        {{product.added}}
    </span>
    <span>
        <i class="coins icon"></i>
        {{product.price}}
    </span>
</div>