<div class="ui pointing menu">
    <a class="item" routerLink="/bio">
        Bio
    </a>
    <a class="item active" routerLink="/products">
        Photos
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search collection...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="item">
            <i class="sign out alternate icon"></i>
            Logout
        </a>
    </div>
</div>