<div class="navbar is-fixed-top is-light">
    <div class="navbar-start">
        <a class="navbar-item" routerLink="/bio">
            Bio
        </a>
        <a class="navbar-item is-active" routerLink="/products">
            Photos
        </a>
        <a class="navbar-item" (click)="openShipping()">
            Shipping
        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary">
                    <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                    Log in
                </a>
            </div>
        </div>
    </div>
</div>

<app-shipping [events]="eventSubject"></app-shipping>